---
const currentYear = new Date().getFullYear();
---

<footer class="bg-black text-white py-8 mt-auto border-t border-gray-800">
    <div class="mt-2 text-center">
      <p>&copy; {currentYear} La Duquesa Blog. All rights reserved.</p>
    </div>
</footer>

